<div id="advanced">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3">
								<a href="/main/leadership"><img src="/assets/leadership_btn.png" /></a>
							</div>
							<div class="col-sm-3">
								<a href="#"><img src="/assets/investment_btn.png" /></a>
							</div>
							<div class="col-sm-3">
								<a href="/main/programs"><img src="/assets/programs_btn.png" /></a>
							</div>
							<div class="col-sm-3">
								<a href="/main/report"><img src="/assets/summary_btn.png" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body container">
		<div class="row">
			<div class="col-md-12">
				<p>
					Hands-on, practical experience is a critical component of any medical or health care training. Children’s National is privileged to provide this type of preparation for pharmacy tstudents through its five-week, Advanced Professional Practice Experience (APPE) program. APPE offers pharmacy students in their final year of schooling the opportunity to apply their knowledge and demonstrate their proficiency in the skills required for professional practice.
				</p>
				<p>
					Students taking part in APPE at Children’s National benefit from the health system’s use of a decentralized clinical pharmacy practice model. Traditional practice models divide pharmacists between clinical and medication distributive services, while decentralized models allow pharmacists to provide both functions, improving medication turn-around times and patient safety, and increasing patient interaction. As a result of the efficiencies achieved through decentralization, Children’s National is able to take on more student learners than the majority of other freestanding children’s hospitals.
				</p>
				<p>
					Pharmacists at Children’s National are an essential part of patient care teams, and APPE students are integrated into care teams as well.  This makes for an enriching experience as students complete their rotations in a variety of areas – general pediatrics, pediatric intensive care, neonatal intensive care, pediatric hematology/oncology, stem cell transplant, cardiac intensive care, and pediatric neurology. This depth of subspecialty experience sets Children’s National apart from similar programs.  Forty-three students completed APPE last year, from pharmacy programs at:  Howard University School of Pharmacy, Virginia Commonwealth University School of Pharmacy, Shenandoah University, and Creighton University.
				</p>
			</div>
		</div>
	</div>
</div>