<div id="generations">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<img class="logo-sub" src="/assets/2014_cbr.png" />
					<h1>Healthy Generations Program</h1>
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<a class="leadership" href="/main/leadership">
									<img src="/assets/btn_leadership.png" />
									<img src="/assets/btn_leadership_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="investment" href="/main/investment">
									<img src="/assets/btn_investment.png" />
									<img src="/assets/btn_investment_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="programs" href="/main/programs">
									<img src="/assets/btn_programs.png" />
									<img src="/assets/btn_programs_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="report" target="_blank" href="/communitybenefitsummary_2014.pdf">
									<img src="/assets/btn_report.png" />
									<img src="/assets/btn_report_hover.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body container">
		<div class="row">
			<div class="col-lg-8 col-md-7">
				<p>
					Because children do not come with instructions, many people are unprepared for parenting and mostly rely on “on-the-job” training to get through the rough patches and uncertain times. While all families could benefit from parenting education, those who are still adolescents themselves often need it most. In fact, research suggests that children born to adolescent parents are more likely to suffer from child abuse due to unexpected stress on adolescent parents. Through community health education classes and workshops, the Healthy Generations Program provides primary care, case management support, health promotion, and wellness programs to area school-age parents and their children. The program is family-centered and often combines instruction for parents with their child’s well visits with trained health center staff. This not only promotes hands-on interaction between parent and child, but also helps build stronger rapport between patient and provider. While both moms and dads receive these services, the program also offers access to support groups for adolescent fathers in Washington, DC public schools. 
				</p>
				<p>
					Support is essential for adolescent parents, and the Healthy Generations Program is structured to provide support around educational attainment and career counseling, responsible sexual decision making, and positive parenting.  Services are designed to support these vulnerable families in making the best decisions to improve the quality of life for themselves and their families.  
				</p>
				<p>
					Healthy Generations served over 375 members of the community last year, ensuring that 82 percent of adolescents enrolled in the program graduated from high school or remained in school. Moreover, 74 percent of students reported the use of contraceptives – a number just shy of the program goal of 80 percent – and the repeat pregnancy rate for students in the program was only 9 percent, far lower than the 15 percent goal. Finally, in response to a measured increase in trauma exposure among adolescent parents, a psychologist was added to the program to expand clinical capacity within mental health services. Overall, this program and its successes are a model for similar ones whose missions are to positively impact multiple generations, while creating healthier, stronger communities. 
				</p>
			</div>
			<div class="col-lg-4 col-md-5 sidebox">
				<div class="inner">
					<div class="title">
						<h3>Mobile Health Adult and Teen Support Program</h3>
						<img src="/assets/title_arrow_bg.png" />
					</div>
					<p>
						Many chronic health problems, such as diabetes, obesity, hypertension, and heart disease, can be prevented or reversed through changes in lifestyle. However, often this message does not reach individuals who do not visit their doctor regularly. Mobile health brings education directly into neighborhoods where people live, play, and call home. The Steps of Success (SOS) Mobile Health Adult Support program, an empowerment training series educating families about chronic illness management, nutrition, physical fitness, and related factors, was developed to increase overall health awareness and empower families to make informed decisions for healthy lifestyles. The Teen Support Program is comprised of 30 weekly supportive training sessions, which teach ‘Steps of Success’ for positive social and emotional development. These peer interaction initiatives, beyond increasing self-esteem, provide opportunities for self-expression, social interaction, expanded community exposure, and a trustworthy space for support, encouragement, and increased self-worth. Last year, 40 adults and teens received services through these programs. The goal is to continually increase that number through outreach and promotion, using the Mobile Health Unit as a rolling billboard for preventive care.  
					</p>
				</div>
			</div>
		</div>
	</div>
</div>