<div id="index">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3">
								<a href="#"><img src="/assets/leadership_btn.png" /></a>
							</div>
							<div class="col-sm-3">
								<a href="#"><img src="/assets/investment_btn.png" /></a>
							</div>
							<div class="col-sm-3">
								<a href="#"><img src="/assets/programs_btn.png" /></a>
							</div>
							<div class="col-sm-3">
								<a href="#"><img src="/assets/summary_btn.png" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="introduction">
					Children's National Health System strives to remain at the forefront of creating innovative solutions to health problems that challenge our children and their families. Sometimes these solutions come out of our own clinical expertise and programmatic initiative. However, our most impactful efforts often ematnate from innovative strategic partnerships and collaborations that benefit our communities close to home and also serve as a model for collectively improving community health across this nation. We are proud to report that last year, Children’s National invested more than $100 million in providing community benefit programming to children and families, improving community health, reducing health disparities, and strengthening our partnerships. In Fiscal Year 2014, Children’s National Health System offered the following programs and services to address community needs:
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="boxes row">
					<div class="col-sm-6">
						<div class="box-item pedestrian">
							<div class="inner">
								<div class="image"></div>
								<div class="title">
									<h3>Pedestrian Safety Program</h3>
									<img src="/assets/title_arrow_bg.png" />
								</div>
								<p>
									A targeted educational effort to inform parents, medical practitioners, and community leaders of the incidence of child pedestrian injuries and fatalities, this program educated the community on preventing these occurrences through dissemination of pedestrian safety information to more than 9,500 area families.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="box-item advanced">
							<div class="inner">
								<div class="image"></div>
								<div class="title">
									<h3>Advanced Professional Practice Experience</h3>
									<img src="/assets/title_arrow_bg.png" />
								</div>
								<p>
									A hands-on program that allowed 43 pharmacy students last year to gain a real-world introduction to identifying and treating the medical needs of underserved communities.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="boxes row">
					<div class="col-sm-6">
						<div class="box-item generation">
							<div class="inner">
								<div class="image"></div>
								<div class="title">
									<h3>Healthy Generations Program</h3>
									<img src="/assets/title_arrow_bg.png" />
								</div>
								<p>
									A comprehensive resource that equipped 375 adolescent parents with mental health services, case management support, parenting education, and career and education counseling with the goal of helping them delay secondary pregnancies during adolescence and promoting positive parenting and self-sufficiency. 
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="box-item parish">
							<div class="inner">
								<div class="image"></div>
								<div class="title">
									<h3>Parish Nursing/Interfaith and Pastoral Care</h3>
									<img src="/assets/title_arrow_bg.png" />
								</div>
								<p>
									Grief and Loss Education Program partnered with the faith community and DC Department of Health to offer a two-day training to 14 faith-based leaders and other professionals who provide caring support to families and children experiencing grief and loss. Post-intervention test results showed a measurable increase in self-knowledge about, competence in, and comfort with helping families in the future.  
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="boxes row">
					<div class="col-sm-6">
						<div class="box-item mental">
							<div class="inner">
								<div class="image"></div>
								<div class="title">
									<h3>DC Collaborative for Mental Health in Pediatric Primary Care</h3>
									<img src="/assets/title_arrow_bg.png" />
								</div>
								<p>
									A comprehensive effort to unite pediatric child care providers around the need for child and youth mental health services and the integration of those services into the primary care setting. Last year, 15 practices and 142 practitioners received training material, and partners formed a working group charged with planning, implementing, and evaluating new initiatives.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="box-item maryland">
							<div class="inner">
								<div class="image"></div>
								<div class="title">
									<h3>Central Southern Maryland Pediatric Medical Society</h3>
									<img src="/assets/title_arrow_bg.png" />
								</div>
								<p>
									A physician forum–now 100 members strong–that serves Anne Arundel, Calvert, Charles, Prince George's, and St. Mary's Counties in Maryland and facilitates the sharing of medical information between society participants to strengthen the overall collective knowledge base of local healthcare providers.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
