<div id="investment">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<img class="logo-sub" src="/assets/2014_cbr.png" />
					<h1>Community Investment</h1>
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3">
								<a class="leadership" href="/main/leadership">
									<img src="/assets/btn_leadership.png" />
									<img src="/assets/btn_leadership_hover.png" />
								</a>
							</div>
							<div class="col-sm-3">
								<a class="investment" href="/main/investment">
									<img src="/assets/btn_investment.png" />
									<img src="/assets/btn_investment_hover.png" />
								</a>
							</div>
							<div class="col-sm-3">
								<a class="programs" href="/main/programs">
									<img src="/assets/btn_programs.png" />
									<img src="/assets/btn_programs_hover.png" />
								</a>
							</div>
							<div class="col-sm-3">
								<a class="report" href="/main/report">
									<img src="/assets/btn_report.png" />
									<img src="/assets/btn_report_hover.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="infographic">
		<div class="container-fluid">
			<div class="row">
				<div class="title">
					<div class="bar">
						<h3>Total Community Benefit</h3>
						<img src="/assets/arrow_end.png" />
					</div>
					<h4>$107,103,096</h4>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h5 class="orange">$68,057,934</h5>
					<p class="orange">Medicaid Shortfalls</p>
					<h5 class="yellow">$32,795,265</h5>
					<p class="yellow">Total Community Benefit Categories</p>
				</div>
				<div class="col-md-4">
					<img class="lego" src="/assets/lego.png" />
				</div>
				<div class="col-md-4 green-side">
					<h5 class="green">$6,249,897</h5>
					<p class="green">Financial Assistance</p>
				</div>
			</div>
		</div>
	</div>
	<div id="stats">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p class="stat-title">TOTAL Community Benefit Categories<span>$32,795,265</span></p>
					<p>Community Health Improvement Services<span>$1,745,868</span></p>
					<p>Health Professions Education<span>$20,377,975</span></p>
					<p>Subsidized Health Services<span>$907,255</span></p>
					<p>Research<span>$8,824,338</span></p>
					<p>Cash and In-kind Contributions<span>$171,660</span></p>
					<p>Community Benefit Operations<span>$768,169</span></p>
					<p>Community Building Activities*<span>$220,799</span></p>
				</div>
				<div class="col-sm-6">
					<p class="stat-title">TOTAL Uncompensated Care<span>$81,967,884</span></p>
					<p>Financial Assistance<span>$6,249,897</span></p>
					<p>Medicaid Shortfalls<span>$68,057,934</span></p>
					<p>Bad Debt*<span>$7,660,053</span></p>
					<p class="disclaimer">*Bad debt and community building activities are part of our community investment but are not recognized by the Internal Revenue Service as community benefits. Therefore, the financials associated with bad debt and community building activities are not included in the numbers for total community benefit. </p>
				</div>
			</div>
		</div>
	</div>
</div>