<div id="leadership">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<img class="logo-sub" src="/assets/2014_cbr.png" />
					<h1>Leadership Letter</h1>
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<a class="leadership" href="/main/leadership">
									<img src="/assets/btn_leadership.png" />
									<img src="/assets/btn_leadership_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="investment" href="/main/investment">
									<img src="/assets/btn_investment.png" />
									<img src="/assets/btn_investment_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="programs" href="/main/programs">
									<img src="/assets/btn_programs.png" />
									<img src="/assets/btn_programs_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="report" target="_blank" href="/communitybenefitsummary_2014.pdf">
									<img src="/assets/btn_report.png" />
									<img src="/assets/btn_report_hover.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body container">
		<div class="row">
			<div class="col-md-12">
				<p>
					At Children's National Health System, we are leading innovative solutions to the health problems that challenge our children and their families. Sometimes these solutions come out of our own clinical expertise and programmatic initiative.  Often, however, our most impactful efforts emanate from our many strategic partnerships and collaborations, benefitting our communities close to home and also serving as a model for collectively improving community health across this nation.
				</p>
				<p>
					By maximizing resources in whatever ways best meet the needs of our communities, we are able to tackle the health issues that have the nation’s attention, such as the crisis in youth mental health services, as well as those problems that are significant but lack sufficient public awareness, such as child pedestrian safety and sexual health. We are committed to making sure that families in the communities we serve benefit from our world-class programs, even if it means bringing it to their doorsteps. Our Mobile Health Program brings preventative medical and dental services, as well as education and information, into neighborhoods and schools, effectively expanding access and helping control costs by providing the right care in the right places at the right time.
				</p>
				<p>
					We are proud to report that last year Children’s National invested more than $100 million in providing community benefit programming to children and families, improving community health, reducing health disparities, and strengthening our partnerships. We believe the success of our community benefit efforts is a critical measure of our success as a healthcare system. We are pleased to share a few of those successes with you in this Community Benefit Report.
				</p>
				<p class="signature">Sincerely,</p>
				<img class="signature" src="/assets/leadership_signature.png" />
				<p>Kurt Newman, MD<br>President and Chief Executive Officer</p>
			</div>
		</div>
	</div>
</div>