<div id="maryland">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<h1>Central Southern Maryland<br>Pediatric Medical Society</h1>
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3">
								<a href="/main/leadership"><img src="/assets/leadership_btn.png" /></a>
							</div>
							<div class="col-sm-3">
								<a href="#"><img src="/assets/investment_btn.png" /></a>
							</div>
							<div class="col-sm-3">
								<a href="/main/programs"><img src="/assets/programs_btn.png" /></a>
							</div>
							<div class="col-sm-3">
								<a href="/main/report"><img src="/assets/summary_btn.png" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body container">
		<div class="row">
			<div class="col-md-12">
				<p>
					Children’s National has always played a unique and important role in shaping, delivering, and supporting primary and specialty care services for kids across the Baltimore Washington Corridor. So recently, as planning began for a new regional medical center in central southern Maryland, physician leaders at Children’s National initiated a comprehensive examination of the pediatric healthcare needs of area residents in primary and emergent/urgent care, as well as specialty and surgical services. In addition, effort was made to connect with general pediatricians in the counties that comprise central southern Maryland – Anne Arundel, Calvert, Charles, Prince George’s and St. Mary's – for their clinical perspective and to explore any professional concerns and needs.
				</p>
				<p>
					What emerged from these discussions was a desire for a forum through which area pediatric providers could share information and knowledge around pertinent clinical issues, best practices, and policy decisions impacting targeted communities, and the health care landscape in general.  A planning committee was convened, and in 2012 the Central Southern Maryland Pediatric Medical Society was created.
				</p>
				<p>
					Since, feedback from member surveys has steered the group’s development of yearly goals and objectives, and has shaped program focus and content.  One area of particular interest for the group has been behavioral health. In 2014, two educational sessions were held; one on Autism and the other on issues of access to mental health services in those counties.  Additionally, efforts to increase both attendance and membership proved successful with 32 additional providers becoming members.  In all, 100 physicians from central southern Maryland participated in the Society's meetings and educational programming last year.
				</p>
			</div>
		</div>
	</div>
</div>