<div id="mental">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<img class="logo-sub" src="/assets/2014_cbr.png" />
					<h1>DC Collaborative for Mental<br>Health in Pediatric Care</h1>
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<a class="leadership" href="/main/leadership">
									<img src="/assets/btn_leadership.png" />
									<img src="/assets/btn_leadership_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="investment" href="/main/investment">
									<img src="/assets/btn_investment.png" />
									<img src="/assets/btn_investment_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="programs" href="/main/programs">
									<img src="/assets/btn_programs.png" />
									<img src="/assets/btn_programs_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="report" target="_blank" href="/communitybenefitsummary_2014.pdf">
									<img src="/assets/btn_report.png" />
									<img src="/assets/btn_report_hover.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body container">
		<div class="row">
			<div class="col-lg-8 col-md-7">
				<p>
					In this country, approximately 13 percent of youth live with a serious mental illness, but only about 20 percent of these youth get the treatment they need, according to the National Alliance of Mental Illness. Instead, too often they end up in the juvenile justice system, which lends an added sense of urgency to a problem that has already spiraled out of control. While primary care providers often assess behavioral problems early on, referrals to specialists can become problematic. This is the case in the District, where only 35 percent of pediatric primary care providers report having an updated inventory of mental health and substance abuse providers. The DC Collaborative for Mental Health in Pediatric Primary Care has studied this problem and is taking steps to address the unmet need for services in the District by improving the integration of mental health within pediatric primary care. Because most pediatricians report being least knowledgeable about and comfortable with providing mental health services to children under age 5, the Collaborative has an increased focus on infants, toddlers, and preschoolers. 
				</p>
				<p>
					To date, the Collaborative has made meaningful strides in addressing the emerging mental health needs of children within the community. Last year, Collaborative members engaged in a comprehensive planning process, which resulted in a child behavioral health access program now being implemented in the District of Columbia. This program – DC Mental Health Access in Pediatrics (DC MAP) – facilitates real-time phone consultations with child mental health providers, time-limited follow-up services, mental health education training, resource guide maintenance, and psychotropic medication reviews for children within the city’s system of care. The group also advised pediatric primary care providers in the implementation of universal, annual mental health screenings at well-child visits. In addition, training materials for providers and educational materials for families, including an online resource guide, were distributed to 15 practices and 142 practitioners. Partners including DC Chapter of the American Academy of Pediatrics, Children’s Law Center, the DC Departments of Behavioral Health and Health Care Finance, and Georgetown University, comprised a working group who were responsible for the planning, implementation, and evaluation of various initiatives; a Community Advisory Board of over 50 members was established to provide strategic guidance and feedback. 
				</p>
				<p>
					Future goals for the Collaborative include moving beyond basic education and screening to seamless integration of mental health into overall pediatric care.
				</p>
			</div>
			<div class="col-lg-4 col-md-5 sidebox">
				<div class="inner">
					<div class="title">
						<h3>Improving Children's Mental Health Summit</h3>
						<img src="/assets/title_arrow_bg.png" />
					</div>
					<p>
						The issue of mental illness in youth has received increased attention from the White House and Congress, as well as the media in recent years. As a respected leader in this discussion, Children's National  held an inaugural summit last year to advance practical and policy solutions for the improvement of mental health access and treatment for children in the United States. The Summit brought together more than 150 key leaders in healthcare, government, and academia to define workable solutions to the challenges facing children and families suffering from mental illness. Speakers such as Virginia Health and Human Resources Secretary William A. Hazel Jr., MD, and Connecticut Senator Chris Murphy worked in partnership with roundtable discussions led by the Division of Psychology and Behavioral Health and included professionals recently impacted by the problem at both the state and local level. During the Summit, attendees volunteered to actively work toward solutions targeting the youth mental health crisis. Discussion topics included workforce issues, trauma-informed mental health care, and de-stigmatizing the diagnosis of mental health issues.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>