<div id="parish">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<img class="logo-sub" src="/assets/2014_cbr.png" />
					<h1>Parish Nursin/Interfaith and<br>Pastoral Care: Grief and Loss<br>Education Program</h1>
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3">
								<a class="leadership" href="/main/leadership"></a>
							</div>
							<div class="col-sm-3">
								<a class="investment" href="/main/investment"></a>
							</div>
							<div class="col-sm-3">
								<a class="programs" href="/main/programs"></a>
							</div>
							<div class="col-sm-3">
								<a class="report" href="/main/report"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body container">
		<div class="row">
			<div class="col-md-12">
				<p>
					When dealing with life’s hurts, pains, and difficulties, people often turn to their faith for answers. At no time is this truer than when grieving the loss of a loved one. However, some communities lack sufficient access to faith-based leaders trained in providing grief and loss support. Additionally, research findings suggest that many clergy and other faith leaders, who are frequently called upon to render comfort and spiritual guidance in times of loss, feel unprepared to fill that role. To fill this void in faith-based grief and loss ministry, the Parish Nursing Program partnered with the Children’s National Office of Interfaith Pastoral Care Department Chaplain and the DC Department of Health Places of Worship Advisory Board (POWAB), to provide caring and competent grief and loss support training to ministry workers across the city. For two days, 14 participants took part in classes and workshops designed to increase self-knowledge, competence, and comfort in providing families and children with coping tools to help with managing the grieving process. To evaluate program effectiveness, participants completed three post-tests over a two-month period. Results showed a measurable increase in knowledge about, as well as competence and comfort in, providing grief support and training for lay caregivers in the faith community.
				</p>
				<p>
					In addition to the Grief and Loss Education Program, Parish Nursing graduated 18 registered nurses from its Foundations of Faith Community Nursing Course last year. To promote the course, staff established a page housed on the Children's National website. Here, nurses in the community can learn more about Faith Community Nursing, the course, and how to enroll. Program staff also partnered with the DC Department of Health POWAB and faith-based education institutions, such as Wesley Seminary, to conduct faith community health needs assessments and assist in the graduation of eight Faith Community Nurses from their Foundations program. In fact, staff input on the Places of Worship Advisory Board’s annual strategic planning process will be used to shape and provide direction for health ministries within the District of Columbia.
				</p>
			</div>
		</div>
	</div>
</div>