<div id="pedestrian">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<img class="logo-sub" src="/assets/2014_cbr.png" />
					<h1>Pedestrian Safety Program</h1>
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3">
								<a class="leadership" href="/main/leadership"></a>
							</div>
							<div class="col-sm-3">
								<a class="investment" href="/main/investment"></a>
							</div>
							<div class="col-sm-3">
								<a class="programs" href="/main/programs"></a>
							</div>
							<div class="col-sm-3">
								<a class="report" href="/main/report"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body container">
		<div class="row">
			<div class="col-lg-8 col-md-7">
				<p>
					We have learned a lot through the years about how to keep our children safe while riding in cars, but do parents know enough about how to keep kids safe from cars – an important consideration given that childhood pedestrian deaths are on the rise. The goal of the Pedestrian Safety Program at Children's National is to prevent such tragedies by providing pedestrian safety awareness and education to children and families of Washington, DC, and the surrounding metropolitan area.
				</p>
				<p>
					Recent statistics confirm that this type of intervention cannot come too soon: in 2011, 110,000 children under the age of 14 experienced injury as a pedestrian, and one in every five children between the ages of 5 and 9 killed in a traffic accident was a pedestrian. The Pedestrian Safety Program embraces a best practice model of community engagement as the most effective way to create sustainable change.  Last year, the program fostered relationships and provided education to school nurses, community leaders, and organizations, such as the Mayor’s Office on Latino Affairs, to assist in serving at-risk populations in the District of Columbia. Its work also included making information from Safe Kids and the National Highway Traffic Safety Administration (NHTSA) easily accessible by including it on hospital websites and social media outlets. 
				</p>
				<p>
					The program has achieved impressive results since its inception! The 2011 campaign educated 1,300 families and five schools with significant Latino populations. In 2012, with 55 percent of reported injuries located in Ward 8, the campaign focused on that area, and with a push on International Walk to School Day, touched over 4,000 students. Furthering that outreach, the 2013 campaign involved visits to 26 elementary schools in Ward 8, providing every school nurse and nursing supervisor with educational and prevention tools that served over 9,500 families during the 2014 school year. Safety tips emailed to parents, community health fair screenings and education sessions, and stakeholder workshops were just a few of the additional outreach efforts last year aimed at involving the community at various levels in addressing this pressing problem. 
				</p>
			</div>
			<div class="col-lg-4 col-md-5 sidebox">
				<div class="inner">
					<div class="title">
						<h3>Childhood Fall Prevention Program</h3>
						<img src="/assets/title_arrow_bg.png" />
					</div>
					<p>
						We lock our doors to keep our children safe, but what about our windows? Alarmingly, 5,100 children under age 18 are treated annually after falling from a second story or higher window. Even more disturbing: this rate has remained steady over the last 10 years, with over 98,000 children sustaining fall-related injuries. The Childhood Fall Prevention Program seeks to lower this number by joining with Safe Kids Maryland and other neighborhood partners to heighten awareness on the issue of accidental window falls. Program strategies are multi-faceted, and last year included educating local families on maintaining a window-safe home by using guardrails and window stops to prevent falls, as well as providing comprehensive training to 784 professionals, including healthcare providers, care givers, organizational leaders from programs such as Head Start, and prenatal/infant caregivers. A Public Service Announcement also was filmed to increase the outreach of this important program. With continued investment of resources in the community and in collaborative efforts, program staff expects to see a measurable decrease in the number of fall-related injuries in the very near future. 
					</p>
				</div>
			</div>
		</div>
	</div>
</div>