<div id="programs">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<img class="logo-sub" src="/assets/2014_cbr.png" />
					<h1>Community Benefit<br>Programs and Partners</h1>
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3">
								<a class="leadership" href="/main/leadership">
									<img src="/assets/btn_leadership.png" />
									<img src="/assets/btn_leadership_hover.png" />
								</a>
							</div>
							<div class="col-sm-3">
								<a class="investment" href="/main/investment">
									<img src="/assets/btn_investment.png" />
									<img src="/assets/btn_investment_hover.png" />
								</a>
							</div>
							<div class="col-sm-3">
								<a class="programs" href="/main/programs">
									<img src="/assets/btn_programs.png" />
									<img src="/assets/btn_programs_hover.png" />
								</a>
							</div>
							<div class="col-sm-3">
								<a class="report" target="_blank" href="/communitybenefitsummary_2014.pdf">
									<img src="/assets/btn_report.png" />
									<img src="/assets/btn_report_hover.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body container">
		<div class="row">
			<div class="col-md-6">
				<ul>
					<li>Bereavement Programming</li>
					<li>Bike Safety</li>
					<li>Brainy Camps</li>
					<li>Burn Prevention Outreach</li>
					<li>Camp Friendship</li>
					<li>Car Seat Inspection Station</li>
					<li>Chaplaincy Internship Program</li>
					<li>Children's National Specialists of Virginia, LLC</li>
					<li>Children's School Services School Health Nursing Program</li>
					<li>CKA Charity Basketball Tournament Coverage</li>
					<li>Clinical and Community Health Research Studies</li>
					<li>Clinical Site Trainings for Ultrasound/Sonography, MRI, and Radiologic Technology Students</li>
					<li>Community Benefit Operations</li>
					<li>DC Board of Nursing</li>
					<li>DC Breastfeeding Coalition</li>
					<li>DC Injury Prevention Alliance</li>
					<li>DC Pediatric Oral Health Coalition</li>
					<li>Don Bosco Cristo Rey High School Workstudy Program</li>
					<li>East of the River Lactation Support Center</li>
					<li>Emergency Communications and Information Center Disaster Readiness Program</li>
					<li>Emergency Medical Services for Children (EMSC) National Resource Center (NRC)</li>
					<li>Enrollment Assistance (Financial Information Center)</li>
					<li>Fit Family Jr.</li>
					<li>Food Allergy Program</li>
					<li>Grandparents Support Group</li>
					<li>Health Careers Internship Program Guide</li>
					<li>Health Professions Education (medical students, residents, and fellows)</li>
					<li>Healthy Start Healthy Families</li>
					<li>Heart Health Learning Collaborative (KiPOW!)</li>
					<li>IMPACT DC Outreach and Clinical Programming</li>
					<li>Infant Health and Infant Mortality Committee Member</li>
					<li>Magnet® Champions Cereal Drive </li>
					<li>Magnet® Champions St. Ann’s Back to School and Holiday Drives</li>
					<li>Medical Consultations and Subpoenas Responses </li>
					<li>Mid-Atlantic Center for Children’s Health and the Environment (MACCHE)</li>
					<li>Mobile Health Program Outreach (health fairs)</li>
					<li>Montgomery County Public Schools High School Sports Medicine Coverage</li>
					<li>National Ethics Conference</li>
					<li>Neonatal Resuscitation Program (NRP)</li>
					<li>Nurse Exchange Program</li>
					<li>Nursing Student Program </li>
					<li>Physical Therapy Student Affiliation Program</li>
					<li>Psychoeducational Evaluations Program</li>
					<li>Remembrance Support Program</li>
					<li>Response to Child and Adolescent Victimization</li>
					<li>Special Supplemental Nutrition Program for Women, Infants, and Children</li>
					<li>S.T.A.B.L.E. and Cardiac S.T.A.B.L.E.</li>
					<li>STRIVE (Adolescent Support Group)</li>
					<li>Student Innovation Summer Program</li>
					<li>Summer Internship for Pre-Med College Students</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul>
					<li>Adventure Dental</li>
					<li>Akron Children’s Hospital</li>
					<li>Boston University</li>
					<li>Bread for the City</li>
					<li>Capital Area Food Bank</li>
					<li>Carol Jean Cancer Foundation</li>
					<li>Catholic University of America</li>
					<li>Center for Child Protection and Family Support</li>
					<li>Child and Family Services Agency</li>
					<li>Children’s Hospital of Philadelphia</li>
					<li>Children’s Law Center</li>
					<li>Cincinnati Children’s Hospital Medical Center</li>
					<li>Community of Hope</li>
					<li>DC Breastfeeding Coalition</li>
					<li>DC Chapter of the American Academy of Pediatrics</li>
					<li>DentaQuest</li>
					<li>District Department of Transportation</li>
					<li>District of Columbia Department of Behavioral Health</li>
					<li>District of Columbia Department of Health</li>
					<li>District of Columbia Department of Health Care Finance</li>
					<li>District of Columbia Fire and Emergency Medical Services Department</li>
					<li>District of Columbia Firefighters Burn Foundation</li>
					<li>District of Columbia Primary Care Association</li>
					<li>District of Columbia Public Schools</li>
					<li>Duke University</li>
					<li>Georgetown University</li>
					<li>Georgetown University Hospital</li>
					<li>George Washington University</li>
					<li>Hagerstown Community College</li>
					<li>Howard County Community College</li>
					<li>Howard University Hospital</li>
					<li>Kids Smiles of DC</li>
					<li>Loyola University</li>
					<li>March of Dimes</li>
					<li>Marymount University</li>
					<li>Mary’s Center for Maternal and Child Care</li>
					<li>MedStar Health</li>
					<li>Metropolitan Police Department</li>
					<li>Miami Children’s Hospital</li>
					<li>Montgomery Community College</li>
					<li>Montgomery County Health Care Coalition</li>
					<li>National Highway Traffic Safety Administration</li>
					<li>Office of Early Childhood Development</li>
					<li>Poison Control Center</li>
					<li>Prince George’s Community College</li>
					<li>Providence Hospital</li>
					<li>Safe Kids Maryland</li>
					<li>Safe Kids Worldwide</li>
					<li>Sibley Memorial Hospital</li>
					<li>Small Smiles</li>
					<li>St. Ann’s Center for Children, Youth, and Families</li>
					<li>Unity Health Care, Inc.</li>
					<li>University of Maryland, Baltimore County</li>
					<li>Washington Area Bicyclist Association</li>
					<li>Washington Hospital Center</li>
					<li>Washington Hospital Center School of Radiologic Technology</li>
					<li>Wesley Seminary</li>
					<li>Women & Children’s Hospital of Buffalo</li>
					<li>YMCA of Metropolitan Washington</li>
				</ul> 
			</div>
		</div>
	</div>
</div>