<div id="report">
	<div class="container-fluid">
		<div class="row">
			<div class="banner">
				<div class="container" style="position: relative; height: 100%;">
					<img class="logo" src="/assets/logo.jpg" />
					<img class="logo-sub" src="/assets/2014_cbr.png" />
					<h1>District of Columbia Healthy<br>Communities Collaborative Update</h1>
					<div class="banner-nav">
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<a class="leadership" href="/main/leadership">
									<img src="/assets/btn_leadership.png" />
									<img src="/assets/btn_leadership_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="investment" href="/main/investment">
									<img src="/assets/btn_investment.png" />
									<img src="/assets/btn_investment_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="programs" href="/main/programs">
									<img src="/assets/btn_programs.png" />
									<img src="/assets/btn_programs_hover.png" />
								</a>
							</div>
							<div class="col-sm-3 col-xs-6">
								<a class="report" target="_blank" href="/communitybenefitsummary_2014.pdf">
									<img src="/assets/btn_report.png" />
									<img src="/assets/btn_report_hover.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body container">
		<div class="row">
			<div class="col-md-12">
				<p>
					Children’s National is a founding member of the District of Columbia Healthy Communities Collaborative (DCHCC), an alliance of Washington, DC, hospitals and community health centers dedicated to proactively addressing the health needs of District residents through shared resources, expertise, and accountability. Using its comprehensive, three-year Community Health Improvement Plan (CHIP) as a blueprint, the Collaborative was busy in 2014 laying the foundation to support its work on four District health priorities: sexual health; mental health and substance abuse; obesity/overweight; and asthma. Children’s National also added two priorities for the pediatric population: oral health and injury prevention.
				</p>
				<p>
					Last year, efforts were focused on moving the CHIP forward by building and strengthening the infrastructure needed to ensure future success. Along with identifying the goals, objectives, and approaches to be used, the group identified those organizations, agencies, and programs best positioned to implement key components of the plan. For example, Children’s National contributed to advancing the four citywide priority areas by developing an online, user-friendly community asset map. The goal of the map is to provide a centralized, geo-enabled application to access information about clinical, preventive, and community-based resources related to the priority health conditions. The map will be field tested in summer 2015 and available for public use in fall 2015. Additionally, Children’s National focused heavily on several goals related to proactively addressing identified needs for the priority areas of sexual and reproductive health, mental health, oral health, and injury prevention. Children’s National took measures to implement and share best practices for the following: introducing routine mental health screenings in the primary care clinic; establishing a credible data repository to guide and inform evidence-based clinical, policy, and community advocacy relating to sexually transmitted infections (STI’s); and developing a comprehensive strategic plan for injury prevention. In addition, Children’s facilitated the progress of several citywide goals and objectives within the CHIP as a collaborator with other hospitals and community health centers located in the District.
				</p>
				<p>
					The Collaborative also expanded and reinforced its efforts to remain accountable and transparent to the public, to keep the community fully informed and engaged throughout each phase of its plan. One vehicle for accomplishing this was through its newly created Community Advisory Board. Another method involved content on the established website DC Health Matters (www.dchealthmatters.org), where needs assessment findings and the CHIP are posted, as well as community health statistics, promising practices, resources and funding opportunities, and information on ways to become active in local health initiatives. Visitors to the DC Health Matters site are able to track major milestones as the Collaborative’s work continues on these important health issues.
				</p>
				<p>
					In just two years, DC Health Matters has received national recognition and accolades. In 2014, it was honored with the Health Communities Achievement Award by Health Communities Institute (HCI), a national information technology company whose cutting-edge cloud platform puts socioeconomic and community health information at the fingertips of organizations and community coalitions. The award recognizes exceptional leadership in using the DC Health Matters web portal in meaningful, creative, and innovative ways to advance community and population health initiatives.
				</p>
			</div>
		</div>
	</div>
</div>