/* line 5, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner {
  width: 100%;
  height: 30em;
  margin-bottom: 3em;
  position: relative;
  display: block;
}
/* line 12, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner h1 {
  font-family: 'Museo';
  font-weight: 500;
  color: #fff;
  font-size: 4.5em;
  line-height: 1em;
  position: absolute;
  bottom: .6em;
  left: 0;
  text-shadow: 0px 0px 10px #000;
}
/* line 24, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner .container {
  position: relative;
}
/* line 28, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner .bannerimg {
  width: 100%;
  display: block;
}
/* line 33, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner .logo {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 5px solid #9cb2c7;
  border-bottom: 5px solid #9cb2c7;
  border-right: 5px solid #9cb2c7;
}
/* line 42, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner .logo-sub {
  position: absolute;
  right: 0;
  top: 135px;
}
/* line 48, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner .banner-nav {
  position: absolute;
  width: 100%;
  bottom: -2em;
}
/* line 53, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner .banner-nav a {
  position: relative;
  display: block;
  width: 100%;
  height: 4em;
}
/* line 59, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner .banner-nav a img {
  display: block;
  width: 100%;
  transition: all .1s;
  z-index: 5;
  position: relative;
}
/* line 67, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner .banner-nav a img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
/* line 78, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
.banner .banner-nav a:hover img:first-child {
  opacity: 0;
}

/* line 87, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .banner {
  background: url("/assets/home_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 92, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .banner .logo {
  border-left: 5px solid #9cb2c7;
  border-bottom: 5px solid #9cb2c7;
  border-right: 5px solid #9cb2c7;
}
/* line 99, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index p {
  color: #746661;
}
/* line 103, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .introduction {
  padding: 2.5em 0;
  font-size: 1.25em;
  line-height: 1.75em;
}
/* line 109, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .bodyimg {
  width: 100%;
  display: block;
}
/* line 114, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes {
  margin-bottom: 2em;
}
/* line 117, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item {
  border: 1px solid #aaa;
  padding: .5em;
  text-align: left;
  display: block;
}
/* line 123, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item .inner {
  height: 22em;
  position: relative;
}
/* line 127, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item .inner .title {
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right;
  width: 66%;
  margin-top: .5em;
  padding-left: 2em;
  margin-right: -5%;
  z-index: 5;
}
/* line 138, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item .inner .title h3 {
  position: relative;
  z-index: 10;
  color: #000;
  margin: .65em 0 0;
  font-size: 1.1em;
  padding: .25em 2.5em .5em .5em;
  line-height: 1.25em;
}
/* line 148, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item .inner .title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: 5;
}
/* line 158, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item .inner .image {
  z-index: 25;
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 60%;
  overflow: hidden;
}
/* line 167, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item .inner .image img {
  width: 100%;
}
/* line 172, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item .inner p {
  width: 55%;
  padding-right: 1em;
  margin-top: 1.5em;
  font-size: .9em;
  float: right;
}
/* line 181, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item img {
  display: inline-block;
}
/* line 187, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.pedestrian .inner {
  background: #fff4d5;
}
/* line 190, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.pedestrian .inner .image {
  background: url("/assets/pedestrian_img.jpg");
  background-size: cover;
  background-position: center;
}
/* line 196, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.pedestrian .inner h3 {
  border-left: 3px solid #ffc72c;
  padding-bottom: 1.85em;
}
/* line 204, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.advanced .inner {
  background: #ebf6e9;
}
/* line 207, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.advanced .inner .image {
  background: url("/assets/advanced_img.jpg");
  background-size: cover;
  background-position: center;
}
/* line 213, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.advanced .inner h3 {
  border-left: 3px solid #78c06c;
}
/* line 220, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.generation .inner {
  background: #fef5f5;
}
/* line 223, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.generation .inner .image {
  background: url("/assets/generations_img.jpg");
  background-size: cover;
  background-position: center;
}
/* line 229, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.generation .inner h3 {
  border-left: 3px solid #f9cdcf;
  padding-bottom: 1.75em;
}
/* line 237, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.parish .inner {
  background: #e9f1f9;
}
/* line 240, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.parish .inner .image {
  background: url("/assets/parish_img.jpg");
  background-size: cover;
  background-position: center;
}
/* line 246, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.parish .inner h3 {
  border-left: 3px solid #99c0e4;
}
/* line 253, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.mental .inner {
  background: #e4dbea;
}
/* line 256, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.mental .inner .image {
  background: url("/assets/mental_img.jpg");
  background-size: cover;
  background-position: center;
}
/* line 262, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.mental .inner h3 {
  border-left: 3px solid #9370ad;
}
/* line 269, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.maryland .inner {
  background: #e9f1f9;
}
/* line 272, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.maryland .inner .image {
  background: url("/assets/maryland_img.jpg");
  background-size: cover;
  background-position: center;
}
/* line 278, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#index .boxes .box-item.maryland .inner h3 {
  border-left: 3px solid #ed8b00;
}

/* line 289, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .banner, #generations .banner, #mental .banner, #advanced .banner, #parish .banner, #maryland .banner, #leadership .banner, #report .banner, #programs .banner {
  background: url("/assets/pedestrian_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 294, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .banner .logo, #generations .banner .logo, #mental .banner .logo, #advanced .banner .logo, #parish .banner .logo, #maryland .banner .logo, #leadership .banner .logo, #report .banner .logo, #programs .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}
/* line 301, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .body, #generations .body, #mental .body, #advanced .body, #parish .body, #maryland .body, #leadership .body, #report .body, #programs .body {
  padding-top: 2em;
}
/* line 304, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .body p, #generations .body p, #mental .body p, #advanced .body p, #parish .body p, #maryland .body p, #leadership .body p, #report .body p, #programs .body p {
  font-size: 1.25em;
  line-height: 1.75em;
  color: #746661;
}
/* line 310, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .body .sidebox, #generations .body .sidebox, #mental .body .sidebox, #advanced .body .sidebox, #parish .body .sidebox, #maryland .body .sidebox, #leadership .body .sidebox, #report .body .sidebox, #programs .body .sidebox {
  padding: .5em;
  border: 2px solid #ccc;
}
/* line 314, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .body .sidebox .inner, #generations .body .sidebox .inner, #mental .body .sidebox .inner, #advanced .body .sidebox .inner, #parish .body .sidebox .inner, #maryland .body .sidebox .inner, #leadership .body .sidebox .inner, #report .body .sidebox .inner, #programs .body .sidebox .inner {
  position: relative;
  background: #fef9eb;
  padding: .75em 1em 1.5em;
}
/* line 319, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .body .sidebox .inner .title, #generations .body .sidebox .inner .title, #mental .body .sidebox .inner .title, #advanced .body .sidebox .inner .title, #parish .body .sidebox .inner .title, #maryland .body .sidebox .inner .title, #leadership .body .sidebox .inner .title, #report .body .sidebox .inner .title, #programs .body .sidebox .inner .title {
  display: block;
  vertical-align: top;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-left: -1.5em;
  margin-bottom: 1.5em;
  padding-top: .5em;
  padding-left: 2em;
  z-index: 5;
}
/* line 331, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .body .sidebox .inner .title h3, #generations .body .sidebox .inner .title h3, #mental .body .sidebox .inner .title h3, #advanced .body .sidebox .inner .title h3, #parish .body .sidebox .inner .title h3, #maryland .body .sidebox .inner .title h3, #leadership .body .sidebox .inner .title h3, #report .body .sidebox .inner .title h3, #programs .body .sidebox .inner .title h3 {
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: 1.4em;
  padding: .1em 2.5em .1em .5em;
  line-height: 1.25em;
  border-left: 3px solid #f4c53f;
}
/* line 341, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .body .sidebox .inner .title img, #generations .body .sidebox .inner .title img, #mental .body .sidebox .inner .title img, #advanced .body .sidebox .inner .title img, #parish .body .sidebox .inner .title img, #maryland .body .sidebox .inner .title img, #leadership .body .sidebox .inner .title img, #report .body .sidebox .inner .title img, #programs .body .sidebox .inner .title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
/* line 350, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#pedestrian .body .sidebox .inner p, #generations .body .sidebox .inner p, #mental .body .sidebox .inner p, #advanced .body .sidebox .inner p, #parish .body .sidebox .inner p, #maryland .body .sidebox .inner p, #leadership .body .sidebox .inner p, #report .body .sidebox .inner p, #programs .body .sidebox .inner p {
  margin: 0;
  font-size: 1.1em;
}

/* line 361, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#generations .banner {
  background: url("/assets/generations_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 366, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#generations .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}
/* line 375, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#generations .body .sidebox {
  padding: .5em;
  border: 2px solid #ccc;
}
/* line 379, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#generations .body .sidebox .inner {
  position: relative;
  background: #fdf9fa;
  padding: .75em 1em 1.5em;
}
/* line 384, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#generations .body .sidebox .inner .title {
  display: block;
  vertical-align: top;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-left: -1.5em;
  margin-bottom: 1.5em;
  padding-top: .5em;
  padding-left: 2em;
  z-index: 5;
}
/* line 396, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#generations .body .sidebox .inner .title h3 {
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: 1.4em;
  padding: .1em 2.5em .1em .5em;
  line-height: 1.25em;
  border-left: 3px solid #e9c2ca;
}
/* line 406, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#generations .body .sidebox .inner .title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
/* line 415, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#generations .body .sidebox .inner p {
  margin: 0;
  font-size: 1.1em;
}

/* line 426, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#mental .banner {
  background: url("/assets/mental_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 431, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#mental .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}
/* line 440, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#mental .body .sidebox {
  padding: .5em;
  border: 2px solid #ccc;
}
/* line 444, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#mental .body .sidebox .inner {
  position: relative;
  background: #f4f0f7;
  padding: .75em 1em 1.5em;
}
/* line 449, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#mental .body .sidebox .inner .title {
  display: block;
  vertical-align: top;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-left: -1.5em;
  margin-bottom: 1.5em;
  padding-top: .5em;
  padding-left: 2em;
  z-index: 5;
}
/* line 461, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#mental .body .sidebox .inner .title h3 {
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: 1.4em;
  padding: .1em 2.5em .1em .5em;
  line-height: 1.25em;
  border-left: 3px solid #9370ad;
}
/* line 471, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#mental .body .sidebox .inner .title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
/* line 480, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#mental .body .sidebox .inner p {
  margin: 0;
  font-size: 1.1em;
}

/* line 492, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#advanced .banner {
  background: url("/assets/advanced_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 497, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#advanced .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}

/* line 512, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#parish .banner {
  background: url("/assets/parish_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 517, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#parish .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}

/* line 532, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#maryland .banner {
  background: url("/assets/maryland_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 537, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#maryland .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}

/* line 552, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#leadership .banner {
  background: url("/assets/leadership_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 557, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#leadership .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}
/* line 566, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#leadership .body .signature {
  margin: 1em 0 2em;
}

/* line 574, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#programs .banner {
  background: url("/assets/programs_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 579, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#programs .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}
/* line 590, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#programs .body ul li {
  font-size: 1.1em;
  line-height: 1.75em;
}

/* line 600, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#report .banner {
  background: url("/assets/report_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 605, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#report .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}

/* line 619, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .banner {
  background: url("/assets/investment_banner.jpg");
  background-size: cover;
  background-position: center;
}
/* line 624, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .banner .logo {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}
/* line 631, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic {
  padding-bottom: 5em;
  box-shadow: 0px 10px 15px -10px #ddd;
}
/* line 635, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .title {
  margin-top: 3em;
  width: 100%;
  position: relative;
  height: 68px;
  text-align: right;
}
/* line 642, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .title .bar {
  background: #da291c;
  width: 50%;
  height: 68px;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}
/* line 651, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .title .bar h3 {
  position: relative;
  z-index: 25;
  color: #fff;
  margin: 0;
  padding-right: 4em;
  line-height: 68px;
  font-size: 36px;
  font-family: 'Museo';
}
/* line 662, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .title .bar img {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0%;
  margin-top: -1px;
  margin-right: -100px;
}
/* line 672, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .title h4 {
  font-size: 48px;
  color: #da291c;
  margin: 0;
  font-weight: 700;
  position: absolute;
  left: 60%;
  height: 68px;
  line-height: 68px;
  font-family: 'Museo';
}
/* line 685, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .lego {
  position: relative;
  z-index: 50;
  margin-top: -5em;
  display: block;
  width: 100%;
}
/* line 693, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic h5 {
  font-size: 3em;
  font-family: 'Museo';
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 0;
}
/* line 701, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic p {
  font-family: 'Museo';
  font-weight: 300;
  font-size: 1.5em;
}
/* line 707, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .orange {
  color: #ed8b00;
  text-align: right;
}
/* line 712, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .yellow {
  color: #ffc72c;
  text-align: right;
}
/* line 717, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .green {
  color: #6cc24a;
}
/* line 721, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment .infographic .green-side {
  padding-top: 6em;
}
/* line 726, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment #stats {
  padding-top: 5em;
}
/* line 729, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment #stats .stat-title {
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}
/* line 735, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment #stats .disclaimer {
  font-size: .85em;
  margin-top: 3em;
  border: 0;
}
/* line 741, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment #stats p {
  border-bottom: 1px solid #eee;
}
/* line 744, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
#investment #stats p span {
  float: right;
}

@media (max-width: 1200px) and (min-width: 992px) {
  /* line 763, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
  #investment .infographic .title .bar h3 {
    padding-right: .75em;
  }
  /* line 769, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
  #investment .infographic h5 {
    font-size: 2em;
    margin-top: 1.5em;
  }
  /* line 774, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
  #investment .infographic p {
    font-size: 1.25em;
  }

  /* line 784, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
  #report .banner h1 {
    font-size: 3.75em;
  }
}
@media (max-width: 992px) {
  /* line 798, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/main.scss */
  #report .banner h1 {
    font-size: 3em;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@font-face {
  font-family: 'Museo';
  src: url("/assets/Museo_300.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url("/assets/Museo_500.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url("/assets/Museo_700.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* line 38, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
html, html body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 46, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel {
  height: 36px;
  background: #da291c;
}
/* line 50, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel .toplist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 55, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel .toplist li {
  display: inline-block;
  height: 36px;
  padding: 0 1em;
  color: #fff;
  font-family: 'Museo';
  line-height: 36px;
  font-size: .8em;
  text-transform: uppercase;
}
/* line 65, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel .toplist li a {
  color: #fff;
}
/* line 69, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel .toplist li i {
  margin-right: .5em;
  font-size: .75em;
  position: relative;
  top: -1px;
}
/* line 77, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel .toplist li:first-child {
  padding-left: 0;
}
/* line 82, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel .social {
  height: 36px;
}
/* line 85, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel .social p {
  color: #fff;
  font-size: .8em;
  height: 36px;
  line-height: 36px;
  font-family: 'Museo';
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
/* line 96, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel .social p a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0 .25em;
  height: 36px;
}
/* line 103, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .toplevel .social p a i {
  font-size: 16px;
  line-height: 36px;
}
/* line 112, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .bottomlevel {
  border-bottom: 5px solid #ffc72c;
}
/* line 116, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist {
  list-style-type: none;
  margin: 0 0 -4px;
  padding: 1.5em 0 0;
  word-spacing: -4px;
}
/* line 122, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li {
  display: inline-block;
  padding: .5em 0;
  font-size: .9em;
  word-spacing: 0;
  transition: all .15s;
  -moz-transition: all .15s;
  -webkit-transition: all .15s;
  -ms-transition: all .15s;
}
/* line 132, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li a {
  color: #000;
  display: block;
  font-size: 1.1em;
  padding-left: .75em;
  padding-right: 2em;
  border-left: 1px solid;
  text-decoration: none;
}
/* line 142, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.pedestrian {
  border-bottom: 5px solid #ffc72c;
}
/* line 145, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.pedestrian a {
  border-color: #ffc72c;
}
/* line 149, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.pedestrian:hover {
  background: #ffc72c;
}
/* line 153, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.generation {
  border-bottom: 5px solid #f4c3cc;
}
/* line 156, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.generation a {
  border-color: #f4c3cc;
}
/* line 160, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.generation:hover {
  background: #f4c3cc;
}
/* line 164, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.mental {
  border-bottom: 5px solid #a05eb5;
}
/* line 167, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.mental a {
  border-color: #a05eb5;
}
/* line 171, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.mental:hover {
  background: #a05eb5;
}
/* line 175, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.advanced {
  border-bottom: 5px solid #6cc24a;
}
/* line 178, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.advanced a {
  border-color: #6cc24a;
}
/* line 182, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.advanced:hover {
  background: #6cc24a;
}
/* line 186, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.parish {
  border-bottom: 5px solid #8bb8e8;
}
/* line 189, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.parish a {
  border-color: #8bb8e8;
}
/* line 193, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.parish:hover {
  background: #8bb8e8;
}
/* line 197, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.maryland {
  border-bottom: 5px solid #ed8b00;
}
/* line 200, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.maryland a {
  border-color: #ed8b00;
}
/* line 204, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#header .mainlist li.maryland:hover {
  background: #ed8b00;
}

/* line 210, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#footer {
  width: 100%;
  background: #da291c;
  margin-top: 10em;
}
/* line 215, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#footer .foot-info {
  padding-top: 2em;
}
/* line 218, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#footer .foot-info p {
  color: #fff;
  text-align: center;
}
/* line 224, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#footer .logo {
  padding-top: 3em;
  text-align: center;
}
/* line 228, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
#footer .logo img {
  border-top: 8px solid #e7746b;
  border-left: 8px solid #e7746b;
  border-right: 8px solid #e7746b;
  display: inline-block;
}

@media (max-width: 1200px) {
  /* line 246, /Users/Bryan/Desktop/projects/cbr/app/assets/stylesheets/application.scss */
  #header .mainlist li a {
    font-size: 1em;
    padding-right: 1.5em;
  }
}
