/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, html body {
	margin: 0;
	padding: 0;
	width: 100%;
}

#header {

	.toplevel {
		height: 36px;
		background: #da291c;

		.toplist {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				height: 36px;
				padding: 0 2em;
				color: #fff;
				line-height: 36px;
				font-size: .9em;
				text-transform: uppercase;

				a {
					color: #fff;
				}

				i {
					margin-right: .5em;
					font-size: .75em;
					position: relative;
					top: -1px;
				}
			}

			li:first-child {
				padding-left: 0;
			}
		}
	}

	.bottomlevel {
		border-bottom: 5px solid #ffc72c;
	}

	.mainlist {
		list-style-type: none;
		margin: 0 0 -4px;
		padding: 1.5em 0 0;
		word-spacing: -4px;

		li {
			display: inline-block;
			padding: .5em 3.5em .5em 0;
			font-size: .9em;
			word-spacing: 0;

			a {
				color: #000;
				display: block;
				font-size: 1.1em;
				padding-left: .75em;
				border-left: 1px solid;
			}
		}
		li.pedestrian {
			border-bottom: 5px solid #ffc72c;

			a {
				border-color: #ffc72c;
			}
		}

		li.generation {
			border-bottom: 5px solid #f4c3cc;

			a {
				border-color: #f4c3cc;
			}
		}

		li.mental {
			border-bottom: 5px solid #a05eb5;

			a {
				border-color: #a05eb5;
			}
		}

		li.advanced {
			border-bottom: 5px solid #6cc24a;

			a {
				border-color: #6cc24a;
			}
		}

		li.parish {
			border-bottom: 5px solid #8bb8e8;

			a {
				border-color: #8bb8e8;
			}
		}

		li.maryland {
			border-bottom: 5px solid #ed8b00;

			a {
				border-color: #ed8b00;
			}
		}
	}
}

#footer {
	width: 100%;
	background: #da291c;
	margin-top: 10em;

	.foot-info {
		padding-top: 2em;

		p {
			color: #fff;
			text-align: center;
		}
	}

	.logo {
		padding-top: 3em;
		text-align: center;

		img {
			border-top: 8px solid #e7746b;
			border-left: 8px solid #e7746b;
			border-right: 8px solid #e7746b;
			display: inline-block;
		}
	}
}






