<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="foot-info col-sm-12">
				<p>Children's National Medical Center | 111 Michigan Avenue, NW Washington, DC 20010 | 202-476-5000 | &copy; 2015 & Privacy Statement</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 logo">
				<img src="/assets/logo.jpg" />
			</div>
		</div>
	</div>
</footer>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">