<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="foot-info col-sm-12">
				<p><a href="/main/index">Children's National Health System</a> | 111 Michigan Avenue, NW Washington, DC 20010 | 202-476-5000 | &copy; 2015 & <a target="_blank" href="http://childrensnational.org/about/terms-of-use#tab-5">Privacy Statement</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 logo">
				<a href="/main/index"><img src="/assets/logo.jpg" /></a>
			</div>
		</div>
	</div>
</footer>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>